* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.form-register {
  display: block;
}

.form-auth {
  display: none;
}

.wrapper {
  height: 150vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: baseline;
  background-color: #1B2473;
  .form {
    padding: 30px 45px 25px 45px;
    background-color: #fff;
    width: 600px;
    height: 412px;
    border-radius: 20px;
    margin-top: 82px;
    h2 {
      color:#787878;
      text-align: center;
      font-size: 50px;
    }
    .form-title {
      margin-bottom: 13px;
      text-align: center;
    }
    .form__item {
      position: relative;
      margin-bottom: 13px;
    }
    .form__item::before{
      content: '*';
      position: absolute;
      left: -10px;
    }
    .form__item-title {
      display: block;
      margin-bottom: 3px;
    }
    .form__item-input {
      display: block;
      width: 100%;
    }
    .form__submit {
      margin: 56px auto 26px auto;
      display: block;
      width: 180px;
      height: 52px;
      border-radius: 10px;
      background-color: #1A226B;
      color: #fff;
    }
  }
}

.error {
  color: #CB2424;
  font-size: 10px;
  display: none;
}